.card{
  margin-bottom: 30px;
  float: left;
      @include phone {
          width:100%;
      }
      @include phoneland {
          width:100%;
      }
      @include tablet{
          width:50%;
      }
      @include desktop{
          width: 33.3%;
      }
      @include desktop-large{
          width: 33.3%;
      }
  width:33.3%;
  padding: 0 20px;
  img{
    width: 100%;
    height: auto;
  }
  .card-content{
    background-color: white;
    padding: 20px;
    margin-top: -6px;
    h3 {
      margin-bottom: 20px;
      font-size: map-get($heading-fontsize, h5);
    }
    p{
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }
  &:after {
    @include clearfix;
  }
}
