.gallery{
  @include clearfix;
  li.image-container{
    float:left;
    list-style: none;
    @include grid-images(4, 3%);

    img{
      display: block;
      width: 100%;
      height: auto;
      @include border-radius(3px);
    }
  }
}
