.container{
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
  @include desktop {
      width: 1024px;
  }
  @include desktop-large {
      width: 1200px;
  }
  @include tablet {
    width:90%;
  }
  @include phone {
      width:95%;
  }
  @include phoneland {
      width:85%;
  }
  width: 960px;
  max-width: 1200px;
}
.row{
  @include clearfix;
  @include tablet {
      margin: 0 -1em;
}
}
[class*='column-'] {
  @include border-box;
  float:left;
  padding: 1em;
  width: 100%;
}
@include desktop {
  @for $i from 1 through $columns {
    .large-column-#{$i} {
      width: 100% / $columns * $i;
    }
  }
}
@include desktop {
  @for $i from 1 through $columns {
    .medium-column-#{$i} {
      width: 100% / $columns * $i;
    }
  }
}
